body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'SF Pro', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../static/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../static/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../static/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../static/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../static/fonts/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}