.access-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 34px;
}

.access-buttons-container input {
    display: none;
}

#yearly-access-btn {
    position: relative;
    width: 342px;
    height: 71px;
    cursor: pointer;
    display: block;
}
#yearly-access-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#weekly-access-btn {
    position: relative;
    width: 342px;
    height: 56px;
    cursor: pointer;
    display: block;
}
#weekly-access-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.access-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#continue-btn {
    width: 342px;
    height: 56px;
    border-radius: 100px;
    border: none;
    background-color: #ffffff;
    color: #070B33;
    font-family: 'SF Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s ease;
}

#continue-btn:active {
    opacity: 0.7;
}