.close-btn {
    position: absolute;
    top: 64px;
    left: 24px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.close-btn img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}