.offers-container {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 0 0 16px 0;
}
.offer-item {
    position: relative;
    width: 100%;
}

.offer-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offer-label-item {
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    border-radius: 2px;
}