.background-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-background {
    width: 100%;
    height: 100vh;
    background-image: url("../../static/backgrounds/mainBackground13Iphone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*iPhone 8 */
@media (width: 375px) and (height: 667px) {
    .main-background {
        background-image: url("../../static/backgrounds/mainBackground8Iphone.svg");
    }
}